@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&family=Unna:wght@400;700&display=swap');

:root {
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Unna', serif;
  background-color: #020204;
  color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
